.App {
  font-family: sans-serif;
  text-align: center;
}
.accordion {
  width: 80%;
  margin: 0 auto;
}

.accordion-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.accordion-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.accordion-header i {
  font-size: 24px;
  transition: all 0.3s ease;
}

.accordion-body {
  padding: 20px;
  font-size: 14px;
  display: none;
}

.accordion-item.active .accordion-header i {
  transform: rotate(180deg);
}

.accordion-item.active .accordion-body {
  display: block;
}
